<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.teamo.auth.mapper.AuthMapper">

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserInsertDto">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USERS (
        USER_ID,
        EMAIL,
        PASSWORD_HASH,
        STATUS,
        NAME,
        PHONE,
        ROLE,
        REG_DT,
        MOD_DT,
        PROFILE_FILE_ID,
        CAREER_YRS,
        RECRUIT_POSIT_TYPE_CD
        ) VALUES (
        #{userId},
        #{email},
        #{passwordHash},
        #{status},
        #{name},
        #{phone, jdbcType=VARCHAR},
        'USER',
        SYSDATE,
        SYSDATE,
        #{profileFileId, jdbcType=NUMERIC},
        #{careerYrs, jdbcType=VARCHAR},
        #{recruitPositTypeCd, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="insertUserLanguage">
        INSERT INTO USER_TECH_STACK
        (
            USER_ID,
            DTL_CD_ID,
            REG_DT
        )
        VALUES
            (
                #{userId},
                #{dtlCdId},
                SYSDATE
            )
    </insert>

    <select id="findByEmail" resultType="LoginDto">
        SELECT
            USER_ID,
            EMAIL,
            PASSWORD_HASH,
            STATUS,
            ROLE
        FROM USERS
        WHERE EMAIL = #{email}
        AND STATUS = 'ACTIVE'
    </select>

    <update id="withdrawUser" parameterType="long">
        UPDATE USERS
        SET STATUS = 'DEACTIVATE',
            MOD_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <select id="existsEmail" resultType="int">
        SELECT count(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <resultMap id="userResultMap" type="User">

        <id property="id" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="role" column="ROLE"/>
        <result property="profileFileId" column="PROFILE_FILE_ID"/>
        <result property="provider" column="PROVIDER"/>
        <result property="status" column = "STATUS"/>
        <result property="filePath" column="FILE_PATH"/>
        <result property="saveFileNm" column="SAVE_FILE_NM"/>
        <result property="passwordHash" column="PASSWORD_HASH"/>
        <result property="careerYrs" column="CAREER_YRS"/>
        <result property="recruitPositTypeCd" column="RECRUIT_POSIT_TYPE_CD"/>

        <collection property="languages" ofType="TechStackResponse">
            <result property="dtlCdId" column="DTL_CD_ID"/>
            <result property="dtlCdNm" column="DTL_CD_NM"/>
        </collection>

    </resultMap>

    <select id="findById" resultMap="userResultMap">
        SELECT
            u.USER_ID,
            u.EMAIL,
            u.NAME,
            u.PHONE,
            u.ROLE,
            u.PASSWORD_HASH,
            u.PROFILE_FILE_ID,
            u.STATUS,
            u.CAREER_YRS,
            u.RECRUIT_POSIT_TYPE_CD,
            ccd.DTL_CD_ID,
            ccd.DTL_CD_NM,
            sa.PROVIDER,
            cf.FILE_PATH,
            cf.SAVE_FILE_NM
        FROM USERS u
                 LEFT JOIN USER_TECH_STACK uts
                           ON uts.USER_ID = u.USER_ID
                 LEFT JOIN CMM_CODE_DTL ccd
                           ON ccd.DTL_CD_ID = uts.DTL_CD_ID
                 LEFT JOIN SOCIAL_ACCOUNTS sa
                           ON sa.USER_ID = u.USER_ID
                 LEFT JOIN CMM_FILE cf
                           ON cf.FILE_ID = u.PROFILE_FILE_ID
        WHERE u.USER_ID = #{userId}
        AND u.STATUS = 'ACTIVE'
    </select>

    <select id="findAll" resultType="TechStackResponse">
        SELECT
            ccd.COM_CD_ID,
            ccd.DTL_CD_ID,
            ccd.DTL_CD_NM
        FROM CMM_CODE_DTL ccd
        WHERE ccd.COM_CD_ID IN ('TECH_STACK', 'AI_FIELD', 'DESIGN_FIELD', 'MARKETING_FIELD', 'BUSINESS_FIELD')
    </select>

    <update id="updateUser">
        UPDATE USERS
        <set>
            NAME = #{name},
            <if test="password !=null">
                PASSWORD_HASH = #{password},
            </if>
            <if test="careerYrs != null">
                CAREER_YRS = #{careerYrs},
            </if>
            <if test="recruitPositTypeCd != null">
                RECRUIT_POSIT_TYPE_CD = #{recruitPositTypeCd},
            </if>
            MOD_DT = SYSDATE
        </set>
        WHERE USER_ID = #{userId}
        AND STATUS = 'ACTIVE'
    </update>

    <delete id="deleteUserLanguage">
        DELETE FROM USER_TECH_STACK
        WHERE USER_ID = #{userId}
    </delete>

    <select id="findSocialAccount" resultType="SocialAccount">
        SELECT *
        FROM SOCIAL_ACCOUNTS
        WHERE PROVIDER = #{provider}
          AND PROVIDER_USER_ID = #{providerUserId}
    </select>

    <insert id="insertSocialAccount">
        INSERT INTO SOCIAL_ACCOUNTS (
            SOCIAL_ID,
            USER_ID,
            PROVIDER,
            PROVIDER_USER_ID,
            REG_DT,
            PROVIDER_ACCESS_TOKEN,
            EXPIRES_AT
        ) VALUES (
                     SOCIAL_SEQ.NEXTVAL,
                     #{userId},
                     #{provider},
                     #{providerUserId},
                     SYSDATE,
                     #{providerAccessToken},
                     SYSDATE + 1/24
                 )
    </insert>

    <select id="existsByUserId" parameterType="long" resultType="boolean">
        SELECT CASE
                   WHEN COUNT(1) > 0 THEN 1
                   ELSE 0
                   END
        FROM SOCIAL_ACCOUNTS
        WHERE USER_ID = #{userId}
    </select>

    <select id="findSocialByUserId" resultType="SocialUnlinkDto">
        SELECT
            PROVIDER,
            PROVIDER_ACCESS_TOKEN,
            EXPIRES_AT
        FROM SOCIAL_ACCOUNTS
        WHERE USER_ID = #{userId}
    </select>

    <update id="reactivateUser">
        UPDATE USERS
        SET STATUS = 'ACTIVE'
        WHERE USER_ID = #{userId}
    </update>

    <update id="updateSocialAccessToken">
        UPDATE SOCIAL_ACCOUNTS
        SET PROVIDER_ACCESS_TOKEN = #{accessToken},
            EXPIRES_AT = #{expiresAt}
        WHERE USER_ID = #{userId}
    </update>

    <insert id="insert" parameterType="FileDto">

        <selectKey keyProperty="fileId" resultType="long" order="BEFORE">
            SELECT FILE_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO CMM_FILE (
        FILE_ID,
        ORG_FILE_NM,
        SAVE_FILE_NM,
        FILE_PATH,
        FILE_SIZE,
        FILE_EXT
        )
        VALUES (
        #{fileId},
        #{orgFileNm},
        #{saveFileNm},
        #{filePath},
        #{fileSize},
        #{fileExt}
        )
    </insert>

    <select id="findProfileFileId" resultType="long">
        SELECT PROFILE_FILE_ID
        FROM USERS
        WHERE USER_ID = #{userId}
        AND STATUS = 'ACTIVE'
    </select>

    <update id="updateProfileImage">
        UPDATE USERS
        SET PROFILE_FILE_ID = #{fileId}
        WHERE USER_ID = #{userId}
        AND STATUS = 'ACTIVE'
    </update>

    <update id="updateLastLoginDt" parameterType="long">
        UPDATE USERS
        SET LAST_LOGIN_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <update id="softDeleteFile">
        UPDATE CMM_FILE
        SET DEL_YN = 'Y',
            DEL_DT = SYSDATE
        WHERE FILE_ID = #{fileId}
    </update>
</mapper>