<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <springProperty scope="context" name="LOG_FILE" source="logging.file.name"/>
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_FILE}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
                <maxHistory>30</maxHistory>
            </rollingPolicy>
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- 🔥 p6spy 로그 -->
    <logger name="p6spy" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="dev">
            <appender-ref ref="FILE"/>
        </springProfile>
    </root>

</configuration>